<div class="card shadow border-left-primary py-2">
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <div class="col mr-2">
                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>OWASP ZAProxy Scanner</span></div>
                <div class="text-dark text-monospace h7 mb-0">
                    @if (ZapReport != null)
                    {
                        <span>@ZapReport.Site.Sum(s => s.Alerts.Count()) Alerts Detected</span>
                    }
                </div>
            </div>
            <div class="col-auto"><i class="fas fa-globe fa-2x text-gray-300"></i></div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public Synthesys.SDK.ExtensionReport Report { get; set; }

    public ZapJsonReport ZapReport => Report.GetExtensionSpecificReport<ZapJsonReport>();
}