
@{
    ViewData["Title"] = "Artifacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/lib/jstree/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#tree').jstree({
                'core': {
                    'data': {
                        'url': function (node) {
                            return "/Session/ArtifactRoot";
                        }
                    }
                }
            });
        });
    </script>
}
@section Styles {
    <link rel="stylesheet" href="~/lib/jstree/themes/default/style.min.css" />
}

<div id="tree"></div>
