<div class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Action</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row align-items-center align-content-center align-items-lg-center">
                    <h5 style="margin-right: 10px;margin-bottom: 0px;width: 65px;">Target</h5>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Compatible Target List</button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center align-content-center align-items-lg-center" style="margin-top: 10px;">
                    <h5 style="margin-right: 10px;margin-bottom: 0px;width: 65px;">Action</h5>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Compatible Action List</button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </div>
                </div>
                <div class="border rounded shadow-sm" style="padding: 5px;margin-top: 15px;">
                    <div style="margin: 0;"><label for="configTest" style="margin: 0px;margin-right: 10px;">Label</label><input type="text" name="configTest"></div>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
        </div>
    </div>
</div>