@model SMACD.Data.FeatureModel

    <div class="border rounded shadow-sm" style="padding: 1em;margin-bottom: 1.5em;background-color:#F1F1F1">
        <div class="d-flex align-items-center">
            <div class="d-flex flex-row flex-grow-1 align-items-center">
                <h5 class="d-flex flex-grow-1" style="margin: 0px;">Feature | @Model.Name</h5>
                <div>
                    <form class="d-inline-flex">
                        <div class="form-group" style="margin-right: 10px;margin-bottom: 0;">
                            <input class="border rounded border-success form-control form-control-sm d-flex d-xl-flex flex-row align-items-center align-content-center" type="number" style="width: 3em;padding: 0;margin: 0 auto;" required=""><small class="form-text text-center text-muted"
                                                                                                                                                                                                                                                       style="font-size: 10px;margin: 0;">Business Risk</small>
                        </div>
                        <div class="form-group" style="margin-right: 10px;margin-bottom: 0;">
                            <input class="border rounded border-info form-control form-control-sm d-flex d-xl-flex flex-row align-items-center align-content-center" type="number" style="width: 3em;padding: 0;margin: 0 auto;" required=""><small class="form-text text-center text-muted"
                                                                                                                                                                                                                                                    style="font-size: 10px;margin: 0;">Technical Risk</small>
                        </div>
                    </form>
                    <div class="btn-group" role="group" style="margin-top: 0.5em;">
                        <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
                        <div class="dropdown btn-group" role="group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-user" style="margin-right: 5px;"></i></button>
                            <div class="dropdown-menu" role="menu">
                                @foreach (var owner in Model.Owners)
                                {
                                    <a class="dropdown-item" role="presentation" href="#" style="padding: 4px 18px;"><img class="border rounded-circle" src="https://www.gravatar.com/avatar/@Global.CalculateMD5Hash(owner.Email.Trim().ToLower())" style="width: auto;height: 32px;">&nbsp; @owner.Name</a>
                                }
                            </div>
                        </div><button class="btn btn-primary" type="button"><i class="fa fa-edit"></i></button><button class="btn btn-primary" type="button"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div><h6 style="margin-bottom: 20px;">@Model.Description</h6>
        @foreach (var useCase in Model.UseCases)
        {
            @await Html.PartialAsync("_UseCase", useCase)
        }
    </div>