@page "/"
@namespace Compass.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Compass</title>
    <base href="~/" />

    <link href="blazorise.css" rel="stylesheet" />
    <link href="blazorise.bootstrap.css" rel="stylesheet" />
    <link href="blazorise.datagrid.css" rel="stylesheet" />
    <link href="blazorise.sidebar.css" rel="stylesheet" />
    <link href="blazorise.snackbar.css" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=8cf7508ac7e1697381879119d043754e">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=e2d647320fc4d2f28fa60c67852b371b">
    <link rel="stylesheet" href="~/artifacts.css?h=e2d647320fc4d2f28fa60c67852b371b">
    <link rel="stylesheet" href="~/lib/prism/themes/prism-coy.min.css" />
    <link rel="stylesheet" href="~/lib/prism/themes/prism.min.css" />
</head>
<body id="page-top">
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))

    <!-- Script fixes for parallel module loading -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/script.min.js?h=5f9b75209a5bec2eae9db1b514298205"></script>
    <script src="~/lib/prism/prism.min.js"></script>

    <script src="blazorise.js"></script>
    <script src="blazorise.bootstrap.js"></script>
    <script src="blazorise.charts.js"></script>
    <script src="_framework/blazor.server.js"></script>

    <script type="text/javascript">
        function saveAsFile(filename, bytesBase64) {
            var link = document.createElement('a');
            link.download = filename;
            link.href = "data:application/octet-stream;base64," + bytesBase64;
            document.body.appendChild(link); // Needed for Firefox
            link.click();
            document.body.removeChild(link);
        }
    </script>

    <script>if (window.module) module = window.module;</script>
</body>
</html>
