@page "/artifacts"
@layout Layouts.LayoutWithoutPadding
@using SMACD.AppTree.Evidence
@using SMACD.AppTree

<div class="shadow-lg flex-grow-1 sidebar p-0 bg-secondary text-white" style="min-width: 30em; font-size: 10px">
    <ul class="tree" style="padding: 10px;padding-right: 1em;padding-bottom: 1em;padding-left: 1em;padding-top: 0.5em;color:#fff">
        @foreach (var item in Program.Session.Artifacts.Children)
        {
            <Compass.Layouts.Navigation.AppTree.ArtifactTreeNode Artifact="@item" IdentifierClicked="@((a) => IdentifierClicked(a))" />
        }
    </ul>
</div>
<div class="container flex-row flex-grow-1 p-2">
    @if (Program.Session == null || Program.Session.Artifacts == null)
    {
        <p><em>No loaded file, or loaded file does not contain Artifacts</em></p>
    }
    else
    {
        @CreateDynamicComponent()
    }
</div>

@code {
    [Parameter]
    public AppTreeNode Artifact { get; set; } = Program.Session?.Artifacts;

    public NativeDirectoryContext NativeContext { get; set; }

    public void IdentifierClicked(AppTreeNode artifact)
    {
        Artifact = artifact;
        this.StateHasChanged();
    }

    RenderFragment CreateDynamicComponent() => builder =>
    {
        if (Artifact != null)
        {
            DynamicComponentGenerator.Inject(builder, Artifact.NodeViewName, new KeyValuePair<string, object>("Artifact", Artifact is RootNode ? null : Artifact));
        }
    };
}