@using SMACD.Data
@code
{
    [Parameter]
    public FeatureModel FeatureModel { get; set; }
}
<div class="card">
    <div class="card-header d-flex" role="tab">
        <p class="float-left" style="position: absolute; top: 2.5em;">@FeatureModel.Description</p>
        <h5 class="d-xl-flex flex-row flex-grow-1 justify-content-xl-start align-items-xl-start mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">@FeatureModel.Name</a></h5>
        <div class="flex-row justify-content-xl-end">
            <form class="d-inline-flex">
                <div class="form-group" style="margin-right: 10px; margin-bottom: 0;">
                    <input class="border rounded border-success form-control form-control-sm d-flex d-xl-flex flex-row align-items-center align-content-center" type="number" style="width: 3em; padding: 0; margin: 0 auto;" required="">
                    <small class="form-text text-center text-muted" style="font-size: 10px; margin: 0;">Business Risk</small>
                </div>
                <div class="form-group" style="margin-right: 10px; margin-bottom: 0;">
                    <input class="border rounded border-info form-control form-control-sm d-flex d-xl-flex flex-row align-items-center align-content-center" type="number" style="width: 3em; padding: 0; margin: 0 auto;" required="">
                    <small class="form-text text-center text-muted" style="font-size: 10px; margin: 0;">Technical Risk</small>
                </div>
            </form>
            <div class="btn-group" role="group" style="margin-top: 0.5em;">
                <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
                <div class="dropdown btn-group" role="group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-user" style="margin-right: 5px;"></i></button>
                    <div class="dropdown-menu" role="menu">
                        @foreach (var owner in FeatureModel.Owners)
                        {
                            <Owner OwnerModel="@owner"></Owner>
                        }
                    </div>
                </div><button class="btn btn-primary" type="button"><i class="fa fa-edit"></i></button><button class="btn btn-primary" type="button"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
    <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
        <div class="card-body">
            @foreach (var useCase in FeatureModel.UseCases)
            {
                <UseCase UseCaseModel="@useCase"></UseCase>
            }
            @*<p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>*@
        </div>
    </div>
</div>