@page "/"

<div class="jumbotron compass" style="position: relative;overflow: hidden;">
    <h1>Welcome to Compass!</h1>
    <p>Compass is a cross-platform graphical tool which allows users to view and modify files created or consumed by the Compass and Synthesys tools.</p><a class="btn btn-primary" role="button" href="http://smacd.io" style="margin-right: 2em;">Learn more at SMACD.io</a>
</div>