@page "/reports"
@layout MainLayout
@using Synthesys.SDK
@using Synthesys.Tasks

@if (Program.Session != null)
{
    var c = 0;
    foreach (var report in Program.Session.Reports.Where(r => !string.IsNullOrEmpty(r.ReportSummaryName)))
    {
        <a href="/reports/@(c++)">
            @RenderDynamicSummary(report)
        </a>
    }
}
@code
{
    protected RenderFragment RenderDynamicSummary(ExtensionReport report) => builder =>
    {
        if (!string.IsNullOrEmpty(report.ReportViewName))
        {
            builder.OpenComponent(1, GetComponentType(report.ReportSummaryName));
            builder.AddAttribute(2, "Report", report);
            builder.CloseComponent();
        }
    };

    private Type GetComponentType(string name)
    {
        Type componentType = null;
        if (!string.IsNullOrEmpty(name))
        {
            // Gotta find that view!

            // First, see if we can resolve this cheaply.
            componentType = Type.GetType(name);

            // Try resolving inside the Artifacts assembly
            if (componentType == null && name.Contains(".Artifacts."))
            {
                componentType = System.Reflection.Assembly.GetAssembly(typeof(SMACD.Artifacts.Views.DefaultArtifactView)).GetType(name);
            }

            // Try resolving inside the loaded extensions
            if (componentType == null)
            {
                componentType = ExtensionToolbox.Instance.ExtensionLibraries.Select(l => l.Assembly.GetType(name)).FirstOrDefault(a => a != null);
            }
        }

        if (componentType == null) // TODO: Change default!
            componentType = typeof(SMACD.Artifacts.Views.DefaultArtifactView);

        return componentType;
    }
}