@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center" style="margin-top: 1em;">Welcome to SMACD!</h1>
<p class="text-justify">
    SMACD is a <strong>threat modeling concept </strong>that emphasizes behavioral security analysis which can be understood by combining the intended architecture concept from project management with the actual architecture implementation
    from product engineering.
</p>
<p class="text-justify">This tool is designed to accomplish a few things in the context of the SMACD toolkit:</p>
<ul class="list-unstyled">
    <li style="margin-bottom: 10px;"><i class="fa fa-gears" style="color: #2c6a87;"></i>&nbsp; View and test Service Maps from a graphical interface</li>
    <li style="margin-bottom: 10px;"><i class="fa fa-briefcase" style="color: #2c6a87;"></i>&nbsp; Allow construction and modification of System Maps in a friendlier way than editing YAML manually</li>
    <li style="margin-bottom: 10px;"><i class="fa fa-bullseye" style="color: #2c6a87;"></i>&nbsp; &nbsp;Generate/Inject new targets into Target Maps from an embedded browser</li>
    <li style="margin-bottom: 10px;"><i class="fa fa-clipboard" style="color: #2c6a87;"></i>&nbsp; Explore existing Sessions and the artifacts/reports that were created during their execution</li>
</ul>
<p class="text-center" style="margin-top: 2em;margin-bottom: 2em;"><strong>Select from the menus above to get started!</strong></p>

