@page "/reports"
@layout Layouts.MainLayout
@using Synthesys.SDK

@if (Program.Session != null)
{
    var c = 0;
    foreach (var report in Program.Session.Reports.Where(r => !string.IsNullOrEmpty(r.ReportSummaryName)))
    {
        <a href="/reports/@(c++)" class="mt-2">
            @RenderDynamicSummary(report)
        </a>
    }
}
@code
{
    protected RenderFragment RenderDynamicSummary(ExtensionReport report) => builder => DynamicComponentGenerator.Inject(builder, report.ReportSummaryName, new KeyValuePair<string, object>("Report", report));
}