@inherits Microsoft.AspNetCore.Components.IComponent


<div class="text-center pt-2">
    <h2>No Visualization Available</h2>
    <p>This Artifact does not have a Visualization associated with its findings.</p>
</div>