@using SMACD.Artifacts
@inherits LayoutComponentBase

<div id="wrapper">
    <LeftNav />
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <TopNav />
            <div class="d-flex">
                @Body
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>