<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><img class="tada animated" src="/assets/img/CompassRect65H.png?h=72411cadb6dc1054dcb8b8c5157c2f0b" style="height: 50px;width: auto;"></div>
            <div class="sidebar-brand-text mx-3"><span>Compass</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation"><a class="nav-link" href="/servicemap"><i style="width: 1.5em;" class="fas fa-map-marked-alt"></i><span>View/Edit Service Map</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/artifacts"><i style="width: 1.5em;" class="fas fa-puzzle-piece"></i><span>View Artifact Tree</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/reports"><i style="width: 1.5em;" class="fas fa-clipboard-list"></i><span>View Reports</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/index.html"><i style="width: 1.5em;" class="fas fa-cogs"></i><span>Create New Test Session</span></a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/plugins"><i style="width: 1.5em;" class="fas fa-plug"></i><span>Plugins</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>